
<h1>Listing books</h1>


<table class="table table-striped">
  <tr>
    <th></th>
    <th>Isbn</th>
    <th>Title</th>
    <th>Author</th>
    <th>Publisher</th>
    <th>Category</th>
    <th>Proposal</th>
    <th></th>
  </tr>

<% @books.each do |book| %>
  <tr>
    <td><img width="100px" src='<%= book.img_url %>'/></td>
    <td><%= book.isbn %></td>
    <td><a href='<%= book.amazon_link %>'><%= book.title %></a></td>
    <td><%= book.author %></td>
    <td><%= book.publisher %></td>
    <td><%= book.category %></td>
    <td><%= book.proposal %></td>
    <td>
      <%= link_to '<i class="icon-search"></i>'.html_safe, book %> 
      <%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_book_path(book) %> 
      <%= link_to '<i class="icon-trash"></i>'.html_safe, book, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% if BooksHelper.available book.id %>
        <%= button_to '<i class="icon-shopping-cart"></i>'.html_safe, { :controller => "reservations", :action => "create", :reservation => {:book_id => book.id, :user_id => current_user.id, :begin_date => Time.now }}, :method => "post" %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '<i class="icon-book"></i> New Book'.html_safe, new_book_path %>
