<p id="notice"><%= notice %></p>

<div class="contentwrapper">
  <div class="left"><img width="150px" src='<%= @book.img_url %>'/></div>
  <div class="left">
    <p><%= @book.author %></p>
    <h2><%= @book.title %></h2>
    <p><%= @book.publisher %><br /><%= @book.category %></p>
  </div>
  <div class="left">
    <% if user_signed_in? %>
      <%= link_to '<i class="icon-pencil"></i> Edit'.html_safe, edit_book_path(@book) %> |
      <%= link_to 'Back', books_path %>

      <% if BooksHelper.available @book.id %>
      <%= button_to "Check Out", { :controller => "reservations", :action => "create", :reservation => {:book_id => @book.id, :user_id => current_user.id, :begin_date => Time.now }}, :method => "post" %>
      <% end %>
    <% end %>
  </div>
  <div class="clearer"></div>
  <div>
    <p>
      <b>Isbn:</b> <%= @book.isbn %>
    </p>
    <p>
      <b>Owner:</b> Dummyowner Dimitris <br />
      <a href='<%= @book.amazon_link %>'>Read details at amazon</a>
    </p>
    <p>
    <b>Proposal:</b> <%= @book.proposal %>
    </p>
  </div>
</div>
